.contact-page {
  margin: 0.2rem;

  &__header {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }

  &__form {
    width: 100%;
  }
}

.form {
  &__textarea {
    display: block;
    padding: 0.2rem;
    width: 100%;
    height: 40vh;
    margin-bottom: 0.2rem;
    resize: none;
  }

  &__button {
    display: block;
    margin: 0 0 0 auto;
    font-size: 0.8;
    padding: 0.2rem 0.5rem;
    background-color: $bg-white;
    border: 1px solid $bg-secondary;
    cursor: pointer;
  }

}

@media(min-width: 700px) {
  .contact-page {
    margin: 0.5rem;

    &__header {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
  }

  .form {
    &__textarea {
      height: 40vh;
      padding: 0.5rem;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &__button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      transition: all .2s;

      &:hover {
        background-color: $bg-secondary;
        color: $bg-white;
      }
    }
  }
}